.header {
  display: flex;
  margin: 0 auto;
  padding: 34px 123px;
  min-width: 1657px;
  max-width: 1280px;

  font-size: 22px;
  height: 145;
  justify-content: space-between;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.nav-list {
  display: flex;
  gap: 80px;
  padding: 46px;
}
.nav-item {
}
.nav {
  display: flex;
  gap: 100px;
}
.logo {
  position: relative;
  top: 15px;
}

.login {
  display: flex;
  gap: 25px;
  padding: 33px;
}
.login-btn {
  padding: 13px 0;
  background-color: #ffffff;
  color: #5b5b5b;
  border-radius: 50px;
  font-weight: 600;
  max-width: 160px;
  min-width: 160px;
  text-align: center;
}
.signUp-btn {
  padding: 13px 0;
  background-color: #ffffff57;
  color: #ffffff;
  border-radius: 50px;
  font-weight: 600;
  max-width: 160px;
  min-width: 160px;
  text-align: center;
}
.isFon {
  background-color: #ffffff;
}
.noFon {
  background-color: #49bbbd;
}
.text-light_black {
  color: #5b5b5b;
}
.text-white {
  color: #ffffff;
}
.profile_logo {
  width: 63px;
  height: 63px;
}
