body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #ffffff;
}
.deep_blue-text {
  color: #2f327d;
}
.gray-text {
  color: #696984;
}
.turquoise-text {
  color: #49bbbd;
}
.light_gray-text {
  color: #80819a;
}
